<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Aplikasi Identifikasi Morfologi Daun</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/bootstrap.min.css')}}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/font-awesome.css')}}">

    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/templatemo-softy-pinko.css')}}">

</head>

<body>
    <!-- ***** Preloader Start ***** -->
    <!-- <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div> -->
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <!-- <a href="#" class="logo">
                            <img src="{{ url_for('static',filename='assets/images/leaf.svg')}}" alt=""
                                style="width: auto;height: 30px;" />
                        </a> -->

                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="{{ url_for('index') }}" class="{% block home %}{% endblock %}">Home</a></li>
                            <li><a href="{{ url_for('gallery') }}" class="{% block gallery %}{% endblock %}">Galeri
                                    Daun</a></li>
                            <!-- <li><a href="#work-process">Ciri - Ciri Fisik</a></li>
                            <li><a href="#testimonials">Informasi Herba</a></li>
                            <li><a href="#pricing-plans">Pricing Tables</a></li>
                            <li><a href="#blog">Blog Entries</a></li> -->
                            <li><a href="{{ url_for('profile') }}" class="{% block profile %}{% endblock %}">Profile</a>
                            </li>
                            <li><a href="{{ url_for('logout') }}" class="text-secondary">Logout</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    {% block content %}{% endblock %}

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; 2020 Softy Pinko Company - Design: TemplateMo</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ url_for('static',filename='assets/js/jquery-2.1.0.min.js')}}"></script>

    <!-- Bootstrap -->
    <script src="{{ url_for('static',filename='assets/js/popper.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/bootstrap.min.js')}}"></script>

    <!-- Plugins -->
    <script src="{{ url_for('static',filename='assets/js/scrollreveal.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/waypoints.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/jquery.counterup.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/imgfix.min.js')}}"></script>
    <!-- Global Init -->
    <script src="{{ url_for('static',filename='assets/js/custom.js')}}"></script>

</body>

</html>