{% extends "base.html" %}
{% block home %}active{% endblock %}
{% block content %}


<div class="container mt-5">
    <h2>Ciri-ciri Fisik Daun</h2>
    <p>Deskripsi dan informasi tentang ciri-ciri fisik dari daun ini.</p>
</div>

{% endblock %}