{% extends "base.html" %}
{% block home %}active{% endblock %}
{% block content %}


<div class="container mt-5">
    <h2>Komentar Daun</h2>
    <div class="comments">
        <!-- Looping untuk menampilkan komentar-komentar -->
        <div class="comment">
            <h5>Nama Pengguna</h5>
            <p>Komentar pengguna tentang daun ini.</p>
        </div>
    </div>

    <h3>Tambahkan Komentar</h3>
    <form action="#" method="POST">
        <div class="form-group">
            <label for="username">Nama Pengguna</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="comment">Komentar</label>
            <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Kirim Komentar</button>
    </form>
</div>

{% endblock %}