{% extends "base.html" %}
{% block gallery %}active{% endblock %}
{% block content %}



<!-- ***** Testimonials Start ***** -->
<section class="section mt-5" id="testimonials">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Galeri Daun</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text" style="text-align: justify;">
                    <p>Anda dapat menjelajahi koleksi berbagai jenis daun yang ada. Setiap
                        daun memiliki gambar dan informasi singkat tentang ciri-ciri fisiknya serta informasi tambahan
                        tentang fungsi herba yang mungkin dimilikinya.<br>
                        Pilih daun yang menarik bagi Anda untuk melihat gambar, ciri-ciri fisik, dan informasi tentang
                        fungsi herba dari daun tersebut.<br>
                        Jelajahi dunia tumbuhan dan temukan lebih banyak tentang keanekaragaman daun yang ada di sekitar
                        kita!
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
            <!-- ***** Testimonials Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team-item">
                    <div class="team-content">
                        <i><img src="{{ url_for('static',filename='assets/images/images/Daun Asam Jawa/Image_14.jpg')}}"
                                style="width: 60%;height: 60%;" alt="Daun Asam Jawa"></i>
                        <h1 class="center-text mt-2" style="margin-bottom: 0px;"><b>Daun Asam Jawa</b></h1>

                        <p style="text-align: justify;"><b>Ciri Fisik :</b> <br>
                            <b>Bentuk :</b> Daun asam jawa memiliki bentuk daun majemuk dengan anak daun tersusun
                            menjari.<br>
                            <b>Ukuran :</b> Daunnya cukup besar, tergantung pada varietas dan umur tanaman.<br>
                            <b>Warna :</b> Daunnya umumnya hijau gelap dengan warna daun muda yang lebih terang.<br>
                            <b>Aroma :</b> Beberapa varietas memiliki aroma khas yang dapat diidentifikasi.<br>
                            <b>Tulang Daun :</b> Daun asam jawa memiliki tulang daun menjari yang mencolok.<br>
                        </p>
                        <p style="text-align: justify;"><b>Fungsi Herba :</b> <br>
                            Beberapa komponen daun asam jawa, seperti asam tartarat dan antioksidan, diyakini
                            memiliki sifat antiinflamasi dan dapat digunakan dalam pengobatan tradisional untuk
                            meredakan berbagai masalah kesehatan.
                            Daun asam jawa sering digunakan dalam beberapa budaya sebagai pembersih darah alami dan
                            pencahar ringan.
                            Daun asam jawa mengandung beberapa zat gizi seperti vitamin C, vitamin A, serat, dan
                            mineral
                        </p>
                    </div>
                </div>
            </div>
            <!-- ***** Testimonials Item End ***** -->

            <!-- ***** Testimonials Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team-item">
                    <div class="team-content">
                        <i><img src="{{ url_for('static',filename='assets/images/testimonial-icon.png')}}" alt=""></i>
                        <p>Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae,
                            placerat nibh. Cras maximus venenatis molestie.</p>
                        <div class="user-image">
                            <img src="http://placehold.it/60x60" alt="">
                        </div>
                        <div class="team-info">
                            <h3 class="user-name">Kelvin Wood</h3>
                            <span>Digital Marketer</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Testimonials Item End ***** -->

            <!-- ***** Testimonials Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team-item">
                    <div class="team-content">
                        <i><img src="{{ url_for('static',filename='assets/images/testimonial-icon.png')}}" alt=""></i>
                        <p>Quisque diam odio, maximus ac consectetur eu, auctor non lorem. Cras quis est non ante
                            ultrices molestie. Ut vehicula et diam at aliquam.</p>
                        <div class="user-image">
                            <img src="http://placehold.it/60x60" alt="">
                        </div>
                        <div class="team-info">
                            <h3 class="user-name">David Martin</h3>
                            <span>Website Manager</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Testimonials Item End ***** -->
        </div>
    </div>
</section>
<!-- ***** Testimonials End ***** -->

{% endblock %}