{% extends "base.html" %}
{% block home %}active{% endblock %}
{% block content %}


<div class="container mt-5">
    <h2>Informasi Fungsi Herba Daun</h2>
    <p>Informasi tentang penggunaan herba daun ini dalam pengobatan tradisional atau aplikasi lainnya.</p>
</div>

{% endblock %}