{% extends "base.html" %}
{% block home %}active{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Selamat Datang di Aplikasi Identifikasi Morfologi Daun!</h1>
        <p class="lead">Aplikasi ini membantu Anda mengidentifikasi berbagai jenis daun berdasarkan ciri-ciri
            fisiknya.</p>
        <hr class="my-4">
        <p>Silakan gunakan menu di atas untuk mulai menjelajahi fitur-fitur aplikasi kami.</p>
    </div>
</div>
{% endblock %}