<!-- /*
* Template Name: Minimal
* Template Author: Untree.co
* Author URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="  {{ url_for('static',filename='favicon.png')}}">

    <meta name="description" content="" />
    <meta name="keywords" content="" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=PT+Mono&display=swap"
        rel="stylesheet">


    <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/css/jquery.fancybox.min.css')}}">
    <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/fonts/icomoon/style.css')}}">
    <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/fonts/flaticon/font/flaticon.css')}}">
    <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/css/aos.css')}}">
    <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <title>Aplikasi Identifikasi Morfologi Daun</title>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="100">

    <div class="lines-wrap">
        <div class="lines-inner">
            <div class="lines"></div>
        </div>
    </div>
    <!-- END lines -->

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <nav class="site-nav dark mb-5 site-navbar-target">
        <div class="container">
            <div class="site-navigation">
                <a href="{{ url_for('index') }}" class="logo m-0">Identifikasi Morfologi Daun<span
                        class="text-primary">.</span></a>

                <ul class="js-clone-nav d-none d-lg-inline-none site-menu float-right site-nav-wrap">
                    <li><a href="{{ url_for('index') }}" class="nav-link active">Home</a></li>
                    <li><a href="{{ url_for('profile') }}" class="nav-link">Profile</a></li>
                    <li class="has-children">
                        <a href="#about-section" class="nav-link">About</a>
                    </li>
                    <li><a href="#contact-section" class="nav-link">Contact us</a></li>
                    <li><a href="{{ url_for('logout') }}" class="nav-link">Logout</a></li>
                </ul>

                <a href="#"
                    class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-inline-block"
                    data-toggle="collapse" data-target="#main-navbar">
                    <span></span>
                </a>

            </div>
        </div>
    </nav>



    <div class="untree_co-section pb-0" id="home-section">
        <div class="container">

            <form action="identifikasi" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="control-label">Upload File</label>
                    <div class="preview-zone hidden">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <div><b>Preview</b></div>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-danger btn-xs remove-preview">
                                        <i class="fa fa-times"></i> Clear
                                    </button>
                                </div>
                            </div>
                            <div class="box-body"></div>
                        </div>
                    </div>
                    <div class="dropzone-wrapper">
                        <div class="dropzone-desc">
                            <i class="glyphicon glyphicon-download-alt"></i>
                            <p>Choose an image file or drag it here.</p>
                        </div>
                        <input type="file" name="image" accept="image/*" class="dropzone" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right">Predict</button>
                        <button type="button" class="btn btn-secondary" id="clear-button">Clear</button>
            </form>

        </div>
    </div>

    <p class="gsap-reveal-hero mt-3">Grafik Probabilitas Tingkat Kemiripan Berdasarkan Bentuk:</p>
    <!-- Tambahkan elemen canvas untuk diagram batang -->
    <canvas id="barChart" width="400" height="200" data-probabilities="{{ probabilities_str }}"></canvas>
    <div class="untree_co-section pb-0" id="about-section">




        <div class="container">
            <div class="row justify-content-center mb-3">
                <div class="col-lg-7 mx-auto text-center author-wrap">
                    <p class="img-fluid rounded-circle mb-3">

                        {% if prediction and prediction != "Other" and probabilities[0][1] > 0.20 %}
                        Hasil Prediksi Jenis Daun:
                    </p>

                    {% if prediction %}
                    <h3 class="text-black h5 font-weight-bold mb-2 gsap-reveal-hero">{{ prediction }}</h3>
                    <p class="gsap-reveal-hero mt-5">Detail:</p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-7">
                    {% if prediction == "Daun Asam Jawa" %}
                    <p class="gsap-reveal-hero">Daun asam jawa (Tamarindus indica) adalah bagian dari tanaman asam jawa
                        yang berasal dari Afrika Selatan dan India. Tanaman ini dikenal karena buahnya yang berbentuk
                        polong dan memiliki rasa asam yang kuat. Daun asam jawa adalah komponen yang kurang dikenal dari
                        tanaman ini, tetapi juga memiliki manfaat kesehatan yang signifikan.</p>
                    <p class="gsap-reveal-hero">Ciri Fisik Daun Asam Jawa:<br>
                        - Bentuk daun asam jawa bervariasi, tetapi umumnya daunnya adalah daun majemuk yang terdiri dari
                        10-20 pasang folio, dengan ukuran sekitar 5-10 cm panjangnya.<br>
                        - Daun asam jawa biasanya berbentuk bulat telur dengan ujung tumpul dan tepi yang bergerigi
                        secara
                        halus.<br>
                        - Warna daunnya hijau tua hingga hijau tua kecoklatan, dan permukaannya biasanya bersifat
                        berkilap.<br>
                        - Batang daun dan rantingnya bisa berwarna hijau atau coklat pucat, tergantung pada usia dan
                        kondisi tanaman.</p>
                    <p class="gsap-reveal-hero mb-5">Fungsi Herba Daun Asam Jawa:<br>
                        - Daun asam jawa telah digunakan dalam pengobatan tradisional untuk meredakan gangguan
                        pencernaan
                        seperti sembelit dan masalah pencernaan lainnya. Ekstrak daun ini mengandung serat alami yang
                        dapat membantu mengatur gerakan usus.<br>
                        - Daun asam jawa mengandung senyawa antioksidan, seperti vitamin C, yang membantu melindungi
                        sel-sel tubuh dari kerusakan akibat radikal bebas. Ini dapat membantu dalam pencegahan penyakit
                        degeneratif dan penuaan dini.<br>
                        - Beberapa penelitian menunjukkan bahwa daun asam jawa dapat membantu mengatur kadar gula darah.
                        Ini bisa bermanfaat bagi penderita diabetes atau mereka yang berisiko mengembangkan penyakit
                        tersebut. <br>
                        - Kandungan serat dan antioksidan dalam daun asam jawa dapat membantu dalam menjaga kesehatan
                        jantung dengan mengurangi risiko penyakit jantung dan menurunkan tekanan darah. <br>
                        - Daun asam jawa memiliki sifat antiinflamasi yang dapat membantu meredakan peradangan dalam
                        tubuh, seperti arthritis.<br>
                        - Dalam beberapa budaya, daun asam jawa digunakan dalam pengobatan tradisional untuk mengatasi
                        batuk dan pilek, terutama dalam bentuk teh. <br>
                        - Daun asam jawa mengandung vitamin A, yang bermanfaat untuk kesehatan mata.
                    </p>
                    {% elif prediction == "Daun Binahong" %}
                    <p class="gsap-reveal-hero" style="text-align: justify;">Daun binahong (Anredera cordifolia) adalah
                        sejenis tanaman merambat yang
                        tumbuh secara liar di beberapa daerah tropis dan subtropis di seluruh dunia. Tanaman ini dikenal
                        dengan berbagai nama lokal, seperti "binahong," "daun dewa," atau "cissus quadrangularis." Daun
                        binahong adalah bagian yang paling sering digunakan dalam pengobatan tradisional dan herba. Daun
                        ini memiliki sejarah panjang dalam penggunaan sebagai obat alami di berbagai budaya.</p>
                    <p class="gsap-reveal-hero" style="text-align: justify;">Ciri Fisik Daun Binahong:<br>
                        - Daun binahong memiliki bentuk yang berbeda-beda tergantung pada usianya. Biasanya, daun muda
                        berbentuk hati atau segitiga dengan pangkal yang lebar, sementara daun yang lebih matang bisa
                        menjadi lebih lonjong.<br>
                        - Daun binahong biasanya berwarna hijau tua, tetapi warna dan teksturnya dapat bervariasi
                        tergantung pada kondisi tumbuh dan lingkungan. <br>
                        - Tanaman binahong adalah tanaman merambat yang tumbuh melilit atau menjalar di sekitar
                        permukaan yang ada di dekatnya, dengan batang yang bersegi empat.</p>
                    <p class="gsap-reveal-hero mb-5" style="text-align: justify;">Fungsi Herba Daun Binahong:<br>
                        - Daun binahong mengandung senyawa-senyawa yang memiliki sifat antiinflamasi dan analgesik
                        (pereda nyeri). Ini menjadikannya obat alami yang berguna untuk meredakan peradangan dan nyeri,
                        terutama dalam kasus gangguan muskuloskeletal seperti arthritis. <br>
                        - Ekstrak daun binahong sering digunakan secara topikal untuk mempercepat penyembuhan luka dan
                        luka bakar. Senyawa dalam daun ini dapat membantu dalam regenerasi kulit dan mengurangi risiko
                        infeksi. <br>
                        - Daun binahong juga digunakan dalam pengobatan tradisional untuk mendukung kesehatan tulang dan
                        persendian. Senyawa-senyawa tertentu dalam tanaman ini dikaitkan dengan peningkatan pertumbuhan
                        tulang dan perbaikan jaringan persendian. <br>
                        - Beberapa budaya menggunakan daun binahong untuk meredakan masalah pencernaan seperti sembelit
                        atau gangguan pencernaan lainnya. Daun ini mengandung serat alami yang dapat membantu mengatur
                        pergerakan usus.<br>
                        - Beberapa tradisi pengobatan menggunakan daun binahong sebagai obat mata tradisional. Daun ini
                        mengandung vitamin A yang bermanfaat untuk kesehatan mata. <br>
                        - Senyawa-senyawa antioksidan dalam daun binahong membantu melindungi sel-sel tubuh dari
                        kerusakan akibat radikal bebas dan penuaan dini. <br>
                        - Meskipun penelitian masih dalam tahap awal, ada beberapa indikasi bahwa senyawa dalam daun
                        binahong dapat memiliki potensi efek anti-kanker. <br>
                    </p>
                    {% elif prediction == "Daun Jarak" %}
                    <p class="gsap-reveal-hero" style="text-align: justify;">Daun jarak adalah daun yang berasal dari
                        tanaman jarak, yang juga
                        dikenal sebagai "castor bean plant" dalam bahasa Inggris. Tanaman jarak, yang merupakan anggota
                        keluarga Euphorbiaceae, dikenal karena bijinya yang dikenal sebagai "castor beans" yang
                        digunakan dalam berbagai industri. Daun jarak juga memiliki berbagai kegunaan, termasuk dalam
                        pengobatan tradisional dan penggunaan industri.</p>
                    <p class="gsap-reveal-hero" style="text-align: justify;">
                        Ciri Fisik Daun Jarak: <br>
                        - Daun jarak memiliki ciri fisik yang cukup khas. Mereka umumnya berukuran besar, dengan panjang
                        daun dapat mencapai sekitar 30-60 cm. <br>
                        - Bentuk daunnya berbeda-beda, tetapi biasanya memiliki lima hingga tujuh lobus (bagian-bagian
                        yang mirip dengan "jari") dengan ujung yang meruncing.<br>
                        - Permukaan daunnya halus, dan warna daun bervariasi dari hijau terang hingga hijau tua
                        tergantung pada varietas dan kondisi pertumbuhan. <br>
                        - Daun jarak tumbuh pada batang tanaman yang kuat, yang juga memiliki ciri khas batang berwarna
                        merah yang mencolok.</p>
                    <p class="gsap-reveal-hero mb-5" style="text-align: justify;">Fungsi Herba Daun Jarak: <br>
                        - Daun jarak telah digunakan dalam pengobatan tradisional di berbagai budaya. Mereka mengandung
                        senyawa kimia seperti asam ricinoleic, yang diyakini memiliki sifat antiinflamasi dan analgesik
                        (pereda nyeri). Beberapa penggunaan tradisional meliputi pengobatan sakit perut, konstipasi,
                        atau radang sendi. Namun, penggunaan dalam pengobatan tradisional harus dilakukan dengan
                        hati-hati karena daun jarak juga mengandung senyawa yang sangat beracun. <br>
                        - Biji jarak (castor beans) digunakan dalam berbagai industri. Minyak jarak yang diekstrak dari
                        biji tanaman ini digunakan dalam produksi berbagai produk, termasuk pelumas, kosmetik, dan
                        bahkan sebagai bahan baku dalam pembuatan biodiesel.<br>
                        - Daun jarak dapat digunakan dalam hortikultura sebagai pupuk organik. Mereka mengandung nutrisi
                        yang bermanfaat untuk tanaman dan dapat digunakan sebagai pupuk kompos.<br>
                        - Beberapa senyawa yang ditemukan dalam biji jarak memiliki sifat pestisidal. Mereka dapat
                        digunakan dalam pembuatan pestisida organik untuk mengendalikan hama tanaman. <br>
                        - Beberapa senyawa dalam daun jarak telah menarik perhatian dalam penelitian farmasi. Meskipun
                        masih dalam tahap penelitian, beberapa senyawa ini memiliki potensi untuk pengembangan
                        obat-obatan baru dalam bidang kesehatan manusia. <br></p>
                    {% elif prediction == "Daun Jeruk Purut" %}
                    <p class="gsap-reveal-hero" style="text-align: justify;">Daun jeruk purut, juga dikenal sebagai daun
                        kaffir lime, adalah bagian dari pohon jeruk purut yang berasal dari wilayah Asia Tenggara. Daun
                        ini memiliki aroma yang kuat dan karakteristik unik, yang menjadikannya bahan penting dalam
                        masakan dan pengobatan tradisional di berbagai budaya.</p>
                    <p class="gsap-reveal-hero" style="text-align: justify;">
                        **Ciri Fisik Daun Jeruk Purut:** <br>
                        - Bentuk daunnya bulat dengan pangkal yang meruncing. Mereka terdiri dari dua helaian daun yang
                        tumpang tindih seperti halaman buku.<br>
                        - Permukaan daunnya berkerut dan berwarna hijau tua, dengan tekstur yang kasar.<br>
                        - Daun jeruk purut biasanya memiliki panjang sekitar 4-7 cm dan lebar sekitar 3-5 cm.<br>
                        - Tepi daunnya bergerigi dan berlekuk, memberikan ciri unik yang membedakannya dari daun jeruk
                        lainnya.<br></p>
                    <p class="gsap-reveal-hero mb-5" style="text-align: justify;">
                        **Fungsi Herba Daun Jeruk Purut:** <br>

                        - Daun jeruk purut memiliki aroma yang kuat dan segar yang menjadikannya bahan yang populer
                        dalam masakan Asia Tenggara. Mereka sering digunakan dalam hidangan seperti sup, saus, kari, dan
                        hidangan laut untuk memberikan aroma yang khas. <br>
                        - Selain sebagai penyedap aroma, daun jeruk purut juga memberikan rasa yang unik dan segar pada
                        hidangan. Rasa daun ini sering digambarkan sebagai sedikit pedas dan sitrus.<br>
                        - Daun jeruk purut memiliki potensi manfaat kesehatan. Mereka mengandung berbagai senyawa,
                        termasuk minyak atsiri, flavonoid, dan vitamin C, yang dapat memberikan efek antioksidan dan
                        antiinflamasi. Beberapa tradisi pengobatan menggunakan daun jeruk purut untuk meredakan masalah
                        pencernaan atau mengatasi pilek dan batuk.<br>
                        - Minyak esensial yang diekstrak dari daun jeruk purut digunakan dalam aromaterapi untuk
                        mengurangi stres dan memberikan efek relaksasi. <br>
                        - Daun jeruk purut kadang-kadang digunakan dalam produk perawatan kulit dan rambut karena
                        sifat-sifat antioksidan dan antiinflamasi. Mereka dapat membantu menjaga kulit tetap sehat dan
                        meredakan iritasi kulit. <br>
                        - Aroma daun jeruk purut diketahui dapat berfungsi sebagai repelan alami terhadap beberapa jenis
                        serangga, seperti nyamuk dan semut. <br></p>
                    {% elif prediction == "Daun Kari" %}
                    <p class="gsap-reveal-hero" style="text-align: justify;"> Daun kari adalah daun yang berasal dari
                        tanaman Murraya koenigii, yang tumbuh di berbagai wilayah Asia Selatan dan Tenggara. Mereka
                        memiliki rasa dan aroma yang khas yang penting dalam masakan India, Sri Lanka, dan sejumlah
                        masakan Asia Tenggara.</p>
                    <p class="gsap-reveal-hero" style="text-align: justify;"> **Ciri Fisik:** <br>
                        - Daun kari biasanya berbentuk bulat telur atau oval dengan permukaan yang halus.<br>
                        - Mereka berwarna hijau tua dan terkadang memiliki tepi yang bergerigi.<br>
                        - Daun kari umumnya tidak terlalu besar, sekitar 2-4 cm panjangnya.<br>
                        - Mereka melekat pada batangnya secara berselang-seling.<br></p>
                    <p class="gsap-reveal-hero mb-5" style="text-align: justify;">**Fungsi Herba Daun Kari:** <br>
                        - Selain digunakan dalam masakan, daun kari juga memiliki manfaat kesehatan potensial. Mereka
                        mengandung senyawa antioksidan dan antiinflamasi serta dapat membantu dalam mengatur kadar gula
                        darah dan menjaga kesehatan pencernaan.</p>
                    {% elif prediction == "Daun Kelor" %}
                    <p class="gsap-reveal-hero" style="text-align: justify;">Daun kelor adalah daun yang berasal dari
                        pohon kelor (Moringa oleifera), juga dikenal sebagai "drumstick tree" atau "miracle tree." Pohon
                        ini berasal dari daerah tropis dan subtropis di Asia Selatan dan Afrika, dan daunnya telah lama
                        digunakan dalam pengobatan tradisional dan sebagai sumber makanan yang sangat bergizi.</p>
                    <p class="gsap-reveal-hero" style="text-align: justify;">**Ciri Fisik Daun Kelor:** <br>
                        - Bentuk daunnya adalah daun majemuk yang terdiri dari beberapa pasang folio, biasanya sekitar
                        5-9 pasang folio dalam satu daun. <br>
                        - Folio daunnya berbentuk bulat telur hingga berbentuk panjang dengan ujung yang meruncing. <br>
                        - Permukaan daun kelor biasanya berwarna hijau tua, dan teksturnya halus. <br>
                        - Daun kelor memiliki tangkai panjang yang membuatnya mudah dikenali dalam pohon.<br>
                        - Daun kelor seringkali memiliki aroma yang khas yang terkadang dianggap sebagai campuran antara
                        bau kubis dan lobak.</p>
                    <p class="gsap-reveal-hero mb-5" style="text-align: justify;">**Fungsi Herba Daun Kelor:** <br>
                        - Daun kelor mengandung berbagai nutrisi penting, termasuk vitamin (seperti vitamin A, vitamin
                        C, dan vitamin K), mineral (seperti kalsium, besi, dan magnesium), protein, dan serat. Mereka
                        juga mengandung sejumlah fitokimia yang bermanfaat, seperti flavonoid dan senyawa antioksidan
                        lainnya. <br>
                        - Serat dalam daun kelor dapat membantu dalam menjaga kesehatan pencernaan dengan merangsang
                        pergerakan usus dan mencegah sembelit.<br>
                        - Kandungan vitamin C dalam daun kelor dapat membantu dalam memperkuat sistem kekebalan tubuh
                        dan melindungi tubuh dari infeksi.<br>
                        - Daun kelor mengandung senyawa antioksidan yang dapat membantu melindungi kulit dari kerusakan
                        akibat radikal bebas dan menjaga kulit tetap sehat.<br>
                        - Beberapa penelitian menunjukkan bahwa daun kelor dapat membantu dalam mengatur kadar gula
                        darah, yang bermanfaat bagi penderita diabetes atau mereka yang berisiko mengembangkan penyakit
                        tersebut.<br>
                        - Daun kelor mengandung protein yang tinggi dan merupakan sumber protein nabati yang baik bagi
                        vegetarian dan vegan. <br>
                        - Senyawa-senyawa dalam daun kelor memiliki sifat antiinflamasi yang dapat membantu meredakan
                        peradangan dalam tubuh. <br>
                        - Kandungan vitamin A dalam daun kelor mendukung kesehatan mata dan dapat membantu mencegah
                        masalah mata.<br>
                        - Beberapa penelitian menunjukkan bahwa daun kelor dapat membantu menjaga kesehatan jantung
                        dengan mengatur tekanan darah dan kadar kolesterol.</p>
                    {% elif prediction == "Daun Kemangi" %}
                    <p class="gsap-reveal-hero" style="text-align: justify;">Daun kemangi adalah daun yang berasal dari
                        tanaman kemangi (Ocimum basilicum), yang dikenal dengan aroma dan rasa khasnya. Tanaman kemangi
                        adalah anggota keluarga mint dan berasal dari Asia tropis. Daun kemangi sering digunakan dalam
                        berbagai masakan di seluruh dunia, terutama di Asia Selatan, Tenggara, dan Mediterania.</p>
                    <p class="gsap-reveal-hero" style="text-align: justify;">
                        **Ciri Fisik Daun Kemangi:** <br>
                        - Bentuk daunnya berbentuk jantung dengan ujung yang runcing. <br>
                        - Daunnya berwarna hijau gelap, tetapi ada juga varietas dengan warna daun yang berbeda seperti
                        merah atau ungu.<br>
                        - Permukaan daunnya halus, dan daunnya cenderung berkilap.<br>
                        - Tanaman kemangi biasanya memiliki tinggi sekitar 30-60 cm, tetapi dapat lebih tinggi jika
                        dibiarkan tumbuh bebas.
                    </p>
                    <p class="gsap-reveal-hero mb-5" style="text-align: justify;">**Fungsi Herba Daun Kemangi:** <br>

                        - Daun kemangi adalah bahan yang sangat populer dalam masakan Asia Tenggara dan Mediterania.
                        Mereka digunakan untuk memberikan rasa segar, manis, dan sedikit pedas pada hidangan seperti
                        salad, saus, sup, dan hidangan daging.<br>
                        - Daun kemangi mengandung berbagai nutrisi penting, termasuk vitamin A, vitamin K, vitamin C,
                        mineral seperti kalsium dan magnesium, serta senyawa antioksidan seperti flavonoid.<br>
                        - Efek antiinflamasi: Daun kemangi dapat membantu meredakan peradangan dalam tubuh.<br>
                        - Mengurangi stres: Aroma daun kemangi diketahui memiliki efek relaksasi dan dapat membantu
                        mengurangi stres.</p>
                    {% elif prediction == "Daun Kunyit" %}
                    <p class="gsap-reveal-hero" style="text-align: justify;">Daun kunyit adalah daun yang berasal dari
                        tanaman kunyit, yang juga dikenal sebagai "turmeric" dalam bahasa Inggris. Tanaman kunyit adalah
                        tanaman rimpang asli Asia Selatan dan seringkali dikenal karena rimpang kunyitnya yang digunakan
                        sebagai bumbu dan zat pewarna alami yang khas dalam berbagai hidangan. Meskipun lebih sering
                        dikenal akan rimpangnya, daun kunyit juga memiliki manfaat dan digunakan dalam berbagai konteks
                        kuliner dan pengobatan tradisional.</p>
                    <p class="gsap-reveal-hero" style="text-align: justify;">Ciri Fisik Daun Kunyit: <br>
                        - Bentuk daunnya panjang dan oval dengan ujung tumpul.<br>
                        - Permukaan daun kunyit berwarna hijau cerah, dan bagian bawahnya cenderung berwarna lebih
                        pucat.<br>
                        - Daun kunyit biasanya memiliki panjang sekitar 10-20 cm dan lebar sekitar 5-10 cm.<br>
                        - Mereka tumbuh pada batang tanaman yang seringkali cukup rendah, sekitar 60-90 cm dari
                        permukaan tanah.<br></p>
                    <p class="gsap-reveal-hero mb-5" style="text-align: justify;">
                        **Fungsi Herba Daun Kunyit sebagai Antiinflamasi:** <br>
                        - Daun kunyit mengandung senyawa curcumin yang memiliki sifat antiinflamasi yang kuat. Curcumin
                        dapat membantu meredakan peradangan dalam tubuh dengan menghambat aktivitas molekul
                        pro-inflamasi dan mengurangi produksi zat-zat yang memicu peradangan.<br>
                        - Antiinflamasi yang terkandung dalam daun kunyit dapat membantu meredakan gejala peradangan
                        seperti nyeri dan pembengkakan.<br>
                        - Beberapa penelitian menunjukkan bahwa konsumsi curcumin dari daun kunyit dapat memiliki
                        manfaat dalam pengobatan kondisi inflamasi kronis seperti arthritis, penyakit radang usus, dan
                        penyakit autoimun.<br>
                        - Penggunaan daun kunyit sebagai antiinflamasi dapat mendukung kesehatan secara umum dan
                        mengurangi risiko penyakit yang terkait dengan peradangan kronis dalam tubuh.</p>
                    {% elif prediction == "Daun Lidah Buaya" %}
                    <p class="gsap-reveal-hero" style="text-align: justify;">Daun lidah buaya adalah bagian dari tanaman
                        lidah buaya, yang juga dikenal dengan nama ilmiah Aloe vera. Tanaman ini berasal dari daerah
                        tropis dan subtropis dan telah digunakan sejak zaman kuno untuk berbagai keperluan, terutama
                        dalam pengobatan tradisional dan perawatan kulit. Daun lidah buaya mengandung banyak senyawa
                        bioaktif yang memberikan berbagai manfaat kesehatan.</p>
                    <p class="gsap-reveal-hero" style="text-align: justify;">Ciri Fisik Daun Lidah Buaya:<br>
                        - Bentuk daunnya mirip dengan lidah, tipis, dan panjang dengan ujung yang meruncing.<br>
                        - Permukaan daunnya halus dan berbentuk silinder dengan cekungan di tengahnya.<br>
                        - Daun lidah buaya berwarna hijau gelap dengan warna yang cenderung agak kebiruan.<br>
                        - Tanaman ini memiliki struktur seperti lidah buaya, dengan daun yang tumbuh dari pusat
                        rosette.<br></p>
                    <p class="gsap-reveal-hero mb-5" style="text-align: justify;">
                        **Fungsi Herba Antiinflamasi Daun Lidah Buaya:** <br>
                        - Daun lidah buaya mengandung senyawa seperti aloin, aloesin, dan asam salisilat yang memiliki
                        sifat antiinflamasi.<br>
                        - Penggunaan daun lidah buaya dalam perawatan kulit dapat membantu meredakan peradangan pada
                        kulit.<br>
                        - Gel lidah buaya dapat digunakan untuk mengurangi peradangan dan gatal akibat gigitan
                        serangga.<br>
                        - Konsumsi jus lidah buaya dalam jumlah yang wajar dapat membantu meredakan peradangan di dalam
                        tubuh, terutama pada sistem pencernaan.<br>
                        - Dalam beberapa kasus, ekstrak daun lidah buaya digunakan dalam produk pemutihan kulit untuk
                        mengurangi bintik-bintik gelap atau hiperpigmentasi.</p>
                    {% elif prediction == "Daun Lidah Mertua" %}
                    <p class="gsap-reveal-hero" style="text-align: justify;">
                        Daun lidah mertua, juga dikenal sebagai "snake plant" atau "mother-in-law's tongue" dalam bahasa
                        Inggris, adalah jenis tanaman hias yang populer dalam rumah dan kantor. Tanaman ini termasuk
                        dalam genus Sansevieria dan berasal dari Afrika Barat. Daun lidah mertua dikenal dengan
                        bentuknya yang khas dan sifatnya yang tahan terhadap berbagai kondisi lingkungan.</p>
                    <p class="gsap-reveal-hero" style="text-align: justify;">**Ciri Fisik Daun Lidah Mertua:** <br>
                        - Bentuknya panjang dan runcing, mirip dengan lidah. <br>
                        - Daunnya tegak, tumbuh vertikal, dan biasanya berkelompok dalam rosette yang padat.<br>
                        - Permukaan daunnya berwarna hijau tua hingga hijau gelap, dengan beberapa varietas yang
                        memiliki strip atau pola warna kuning atau putih.<br>
                        - Daunnya memiliki tekstur yang keras dan kasar.<br>
                        - Batangnya seringkali pendek dan tidak terlalu terlihat karena tertutup oleh daun-daunnya.</p>
                    <p class="gsap-reveal-hero mb-5" style="text-align: justify;">**Fungsi Herba Antiinflamasi Daun
                        Lidah Mertua:** <br>

                        - Daun lidah mertua dikenal memiliki kemampuan untuk membersihkan udara dalam ruangan dengan
                        menyerap berbagai zat berbahaya seperti formaldehida dan xilena. Ini dapat membantu mengurangi
                        tingkat polusi dalam ruangan dan potensialnya mengurangi peradangan pernapasan. <br>
                        - Selain membersihkan udara, tanaman ini juga memancarkan uap air melalui daunnya saat proses
                        fotosintesis. Ini dapat meningkatkan kelembaban udara di sekitarnya, yang dapat membantu
                        mengurangi peradangan kulit atau masalah pernapasan yang disebabkan oleh udara yang terlalu
                        kering. <br>
                        - Tanaman lidah mertua memiliki sifat menenangkan dan dapat membantu meredakan stres. Mengurangi
                        tingkat stres juga dapat mengurangi risiko peradangan yang berkaitan dengan stres.<br>
                        - Dalam beberapa kasus, tanaman ini dapat mengurangi polusi suara di dalam ruangan dengan
                        menyerap suara dan mengurangi gema. <br>
                        - Dengan membersihkan udara dalam ruangan dari zat berbahaya dan meningkatkan kelembaban, daun
                        lidah mertua dapat membantu mengurangi risiko peradangan pernapasan dan masalah seperti iritasi
                        tenggorokan. <br></p>
                    {% elif prediction == "Daun Mangga" %}
                    <p class="gsap-reveal-hero" style="text-align: justify;">Daun mangga adalah daun yang berasal dari
                        pohon mangga (Mangifera indica). Pohon mangga adalah tanaman tropis yang berasal dari Asia
                        Selatan dan sekarang dibudidayakan di banyak wilayah subtropis dan tropis di seluruh dunia. Daun
                        mangga memiliki berbagai aplikasi dalam pengobatan tradisional dan herbal.</p>
                    <p class="gsap-reveal-hero" style="text-align: justify;">**Ciri Fisik Daun Mangga:** <br>
                        - Bentuk daunnya adalah daun majemuk yang terdiri dari beberapa pasang folio. Setiap folio
                        berbentuk oval atau lonjong dengan ujung yang meruncing.<br>
                        - Permukaan daunnya berwarna hijau tua atau hijau cerah tergantung pada varietasnya.<br>
                        - Daun mangga memiliki tangkai panjang yang menghubungkan folio-folio tersebut ke cabang utama
                        pohonnya.<br>
                        - Daun-daunnya tumbuh dalam susunan yang jarang dan biasanya terkonsentrasi di ujung cabang.</p>
                    <p class="gsap-reveal-hero mb-5" style="text-align: justify;">**Fungsi Herba Antiinflamasi Daun
                        Mangga:**<br>
                        - Daun mangga mengandung senyawa-senyawa yang memiliki potensi antiinflamasi, seperti polifenol
                        dan senyawa fitokimia lainnya.<br>
                        - Kandungan ini membuat daun mangga digunakan dalam pengobatan tradisional untuk meredakan
                        peradangan pada berbagai kondisi, termasuk masalah kulit, gigitan serangga, dan iritasi.<br>
                        - Penggunaan ekstrak daun mangga dalam bentuk salep atau minyak dapat membantu meredakan
                        peradangan pada kulit dan memberikan efek penenang.<br></p>
                    {% elif prediction == "Daun Mint" %}
                    <p class="gsap-reveal-hero" style="text-align: justify;">Daun mint merujuk pada daun-daun dari
                        tanaman mint yang termasuk dalam genus Mentha. Tanaman mint adalah tumbuhan herbal yang terkenal
                        dengan aroma segarnya yang khas. Jenis mint yang paling umum termasuk peppermint (Mentha ×
                        piperita) dan spearmint (Mentha spicata). Daun mint digunakan dalam berbagai aplikasi kuliner,
                        minuman, dan pengobatan tradisional.</p>
                    <p class="gsap-reveal-hero" style="text-align: justify;">**Ciri Fisik Daun Mint:** <br>
                        - Bentuk daunnya berbentuk oval atau lebar dengan tepi yang bergelombang.<br>
                        - Permukaan daunnya umumnya berwarna hijau cerah, tetapi beberapa varietas dapat memiliki warna
                        daun yang berbeda seperti ungu atau perak.<br>
                        - Daun mint memiliki aroma yang sangat segar dan khas, yang membuatnya mudah dikenali.<br>
                        - Tanaman mint biasanya tumbuh rendah dengan batang yang menjalar atau tegak tergantung pada
                        jenisnya.</p>
                    <p class="gsap-reveal-hero mb-5">**Fungsi Herba Antiinflamasi Daun Mint:**<br>
                        - Daun mint mengandung senyawa-senyawa yang memiliki sifat antiinflamasi, terutama menthol.<br>
                        - Kandungan menthol dalam daun mint memberikan efek pendinginan pada kulit dan mukosa, yang
                        dapat membantu meredakan peradangan dan sensasi terbakar pada kulit.<br>
                        - Mint sering digunakan dalam bentuk minyak esensial atau salep untuk meredakan peradangan pada
                        kulit, seperti iritasi ringan, sengatan matahari, atau gigitan serangga.<br>
                        - Minum teh mint panas atau menggunakan minyak esensial mint juga dapat memberikan efek
                        menenangkan pada peradangan tenggorokan dan saluran pernapasan.<br></p>
                    {% elif prediction == "Daun Pandan" %}
                    <p class="gsap-reveal-hero" style="text-align: justify;">Daun pandan adalah daun yang berasal dari
                        tanaman pandan (Pandanus amaryllifolius), yang juga dikenal sebagai pandan wangi atau screwpine.
                        Tanaman ini sangat populer di Asia Tenggara dan digunakan dalam berbagai masakan tradisional dan
                        minuman. Daun pandan memberikan aroma wangi yang khas dan digunakan dalam berbagai aplikasi
                        kuliner dan pengobatan tradisional.</p>
                    <p class="gsap-reveal-hero" style="text-align: justify;">**Ciri Fisik Daun Pandan:** <br>
                        - Bentuk daunnya panjang dan linear dengan tepi yang rata dan ujung yang meruncing.<br>
                        - Permukaan daunnya berwarna hijau tua dan cenderung mengkilap.<br>
                        - Daun-daun pandan biasanya panjang, ramping, dan dapat mencapai hingga 60-90 cm.<br>
                        - Tanaman pandan memiliki akar udara yang menjalar dan tumbuh rendah ke tanah.<br></p>
                    <p class="gsap-reveal-hero mb-5" style="text-align: justify;">**Fungsi Herba Antiinflamasi Daun
                        Pandan:**<br>
                        - Daun pandan mengandung senyawa-senyawa yang memiliki potensi antiinflamasi, meskipun efeknya
                        tidak sekuat senyawa antiinflamasi dalam beberapa tanaman lain.<br>
                        - Meskipun demikian, daun pandan telah digunakan dalam pengobatan tradisional di beberapa budaya
                        sebagai bahan alami untuk meredakan peradangan kulit ringan, seperti gatal-gatal atau
                        iritasi.<br>
                        - Beberapa minuman herbal yang dibuat dengan daun pandan juga dapat memberikan efek menenangkan
                        pada peradangan tenggorokan dan saluran pernapasan.<br></p>
                    {% elif prediction == "Daun Pepaya" %}
                    <p class="gsap-reveal-hero" style="text-align: justify;">Daun pepaya adalah daun yang berasal dari
                        tanaman pepaya (Carica papaya), yang juga dikenal sebagai papaya. Tanaman pepaya adalah tanaman
                        tropis yang berasal dari Amerika Tengah dan Amerika Selatan, tetapi sekarang telah menyebar ke
                        seluruh dunia. Selain buahnya yang terkenal, daun pepaya juga memiliki berbagai manfaat dan
                        telah digunakan dalam pengobatan tradisional.</p>
                    <p class="gsap-reveal-hero" style="text-align: justify;">**Ciri Fisik Daun Pepaya:** <br>
                        - Bentuk daunnya adalah daun majemuk dengan tangkai panjang dan beberapa lobus besar.<br>
                        - Permukaan daunnya berwarna hijau cerah dengan urat-urat yang terlihat jelas.<br>
                        - Daun pepaya dapat tumbuh dengan panjang hingga sekitar 50 cm atau lebih, tergantung pada
                        varietasnya.<br>
                        - Daun-daunnya tumbuh di ujung ranting dan cabang tanaman pepaya.</p>
                    <p class="gsap-reveal-hero mb-5" style="text-align: justify;">**Fungsi Herba Antiinflamasi Daun
                        Pepaya:**<br>
                        - Daun pepaya mengandung senyawa-senyawa yang memiliki potensi antiinflamasi, seperti enzim
                        papain, chymopapain, dan karotenoid.<br>
                        - Ekstrak daun pepaya telah digunakan dalam pengobatan tradisional untuk meredakan peradangan
                        ringan, terutama pada kulit.<br>
                        - Daun pepaya bisa dihaluskan dan diaplikasikan secara topikal pada area yang mengalami iritasi
                        kulit, gatal, atau peradangan untuk memberikan efek pendinginan dan meredakan gejala.<br>
                        - Beberapa produk perawatan kulit juga menggunakan ekstrak daun pepaya karena potensinya dalam
                        meredakan peradangan dan menghilangkan sel-sel kulit mati.</p>
                    {% elif prediction == "Daun Salam" %}
                    <p class="gsap-reveal-hero" style="text-align: justify;">Daun salam, juga dikenal sebagai daun
                        laurel atau bay leaf dalam bahasa Inggris, adalah daun yang berasal dari pohon salam (Laurus
                        nobilis). Daun ini telah digunakan dalam berbagai masakan tradisional dan sebagai rempah-rempah
                        karena memberikan aroma dan rasa yang unik. Selain itu, daun salam juga memiliki manfaat medis
                        dalam pengobatan herbal.</p>
                    <p class="gsap-reveal-hero" style="text-align: justify;">**Ciri Fisik Daun Salam:** <br>
                        - Bentuk daunnya elips atau lanset dengan ujung yang meruncing.<br>
                        - Permukaan daunnya hijau gelap dan cenderung mengkilap.<br>
                        - Daun salam biasanya kering dan rapuh saat digunakan dalam masakan, dan memiliki aroma harum
                        yang khas.<br>
                        - Panjang daunnya berkisar antara 2-4 inci, tergantung pada varietas dan usia tanaman.<br></p>
                    <p class="gsap-reveal-hero mb-5" style="text-align: justify;">**Fungsi Herba Antiinflamasi Daun
                        Salam:**<br>
                        - Daun salam mengandung senyawa-senyawa yang memiliki potensi antiinflamasi, seperti flavonoid
                        dan tanin.<br>
                        - Infus daun salam sering digunakan dalam pengobatan herbal tradisional untuk meredakan
                        peradangan dalam tubuh, terutama yang terkait dengan masalah pencernaan, seperti peradangan
                        saluran pencernaan dan gangguan lambung.<br>
                        - Konsumsi daun salam dalam bentuk infus atau ramuan herbal dapat membantu meredakan gejala
                        seperti perut kembung, nyeri perut, dan peradangan usus ringan.
                    </p>
                    {% elif prediction == "Daun sambiloto" %}
                    <p class="gsap-reveal-hero" style="text-align: justify;">Daun sambiloto, juga dikenal sebagai
                        Andrographis paniculata, adalah tanaman herbal yang tumbuh di berbagai wilayah tropis dan
                        subtropis, terutama di Asia Tenggara dan India. Daun sambiloto telah digunakan dalam pengobatan
                        tradisional selama berabad-abad karena kandungan senyawa aktifnya yang memiliki banyak manfaat
                        kesehatan.
                    </p>
                    <p class="gsap-reveal-hero" style="text-align: justify;">**Ciri Fisik Daun Sambiloto:** <br>
                        - Bentuk daunnya adalah lanset dengan ujung yang meruncing dan tepi bergerigi.<br>
                        - Permukaan daunnya berwarna hijau tua dan memiliki tekstur yang kasar.<br>
                        - Daun sambiloto tumbuh langsung dari batang tanaman dan biasanya memiliki tinggi sekitar 2-6
                        cm.<br>
                        - Bunga sambiloto adalah berwarna putih dan berkumpul dalam rangkaian panjang.<br></p>
                    <p class="gsap-reveal-hero mb-5" style="text-align: justify;">**Fungsi Herba Antiinflamasi Daun
                        Sambiloto:**<br>
                        - Daun sambiloto mengandung senyawa aktif seperti andrographolide, yang memiliki sifat
                        antiinflamasi yang kuat.<br>
                        - Penggunaan daun sambiloto dalam pengobatan tradisional dan herbal terutama berfokus pada
                        kemampuannya untuk meredakan peradangan dalam tubuh.<br>
                        - Daun sambiloto telah digunakan untuk mengatasi berbagai kondisi yang terkait dengan
                        peradangan, seperti demam, flu, infeksi saluran pernapasan, dan gangguan pencernaan yang
                        disebabkan oleh peradangan.<br>
                        - Beberapa studi ilmiah juga menunjukkan bahwa ekstrak daun sambiloto dapat membantu meredakan
                        gejala penyakit autoimun dan peradangan sendi.<br></p>
                    {% elif prediction == "Daun Singkong" %}
                    <p class="gsap-reveal-hero" style="text-align: justify;">Daun singkong adalah daun yang berasal dari
                        tanaman singkong (Manihot esculenta), yang juga dikenal sebagai cassava atau tapioca. Singkong
                        adalah tanaman yang tumbuh di berbagai wilayah tropis dan subtropis di seluruh dunia. Buah
                        singkong yang paling dikenal adalah akarnya, yang merupakan sumber utama tepung tapioka. Namun,
                        daun singkong juga memiliki manfaat penting dalam pengobatan herbal dan pangan.</p>
                    <p class="gsap-reveal-hero" style="text-align: justify;">**Ciri Fisik Daun Singkong:** <br>
                        - Bentuk daunnya adalah daun tunggal dengan ujung yang meruncing dan tepi yang bergelombang.<br>
                        - Permukaan daunnya berwarna hijau tua atau hijau cerah tergantung pada varietas dan usia
                        tanaman.<br>
                        - Daun singkong tumbuh pada batang tanaman yang memiliki tekstur kasar.<br>
                        - Daun-daunnya memiliki tangkai panjang yang menghubungkan mereka dengan batang.<br></p>
                    <p class="gsap-reveal-hero mb-5" style="text-align: justify;">**Fungsi Herba Antiinflamasi Daun
                        Singkong:**<br>
                        - Daun singkong mengandung senyawa aktif seperti flavonoid, alkaloid, dan tanin yang memiliki
                        potensi antiinflamasi.<br>
                        - Penggunaan daun singkong dalam pengobatan tradisional sering berfokus pada sifat antiinflamasi
                        mereka untuk meredakan peradangan dalam tubuh.<br>
                        - Daun singkong dapat diolah menjadi ramuan herbal atau infus dan digunakan untuk meredakan
                        gejala peradangan ringan, seperti nyeri sendi, nyeri otot, atau peradangan pada saluran
                        pernapasan.<br>
                        - Beberapa budaya juga menggunakan daun singkong untuk mengobati gangguan pencernaan yangs
                        berkaitan dengan peradangan.</p>
                    {% elif prediction == "Daun Teh Hijau" %}
                    <p class="gsap-reveal-hero" style="text-align: justify;">Daun teh hijau adalah daun yang berasal
                        dari tanaman Camellia sinensis. Ini adalah salah satu jenis teh yang paling populer di dunia,
                        dikenal karena manfaat kesehatannya dan rasa yang khas. Teh hijau telah digunakan selama
                        berabad-abad di berbagai budaya, terutama di Asia, dan memiliki kandungan senyawa yang
                        membuatnya memiliki potensi antiinflamasi.</p>
                    <p class="gsap-reveal-hero" style="text-align: justify;">
                        **Ciri Fisik Daun Teh Hijau:** <br>
                        - Bentuk daunnya adalah daun tunggal dengan tepi bergerigi.<br>
                        - Permukaan daunnya umumnya berwarna hijau muda hingga hijau tua, tergantung pada varietas dan
                        proses pengolahan.<br>
                        - Daun-daun teh hijau biasanya tipis dan memiliki tekstur yang halus.<br>
                        - Ukuran dan bentuk daunnya dapat bervariasi tergantung pada jenis teh hijau tertentu dan
                        bagaimana daunnya diolah.</p>
                    <p class="gsap-reveal-hero mb-5" style="text-align: justify;">**Fungsi Herba Antiinflamasi Daun Teh
                        Hijau:**
                        - Daun teh hijau mengandung senyawa-senyawa bioaktif seperti epigallocatechin gallate (EGCG),
                        yang memiliki sifat antiinflamasi yang signifikan.<br>
                        - Konsumsi teh hijau secara teratur telah dikaitkan dengan berbagai manfaat kesehatan, termasuk
                        kemampuannya untuk meredakan peradangan dalam tubuh.<br>
                        - Senyawa antiinflamasi dalam teh hijau dapat membantu mengurangi respon peradangan tubuh
                        terhadap infeksi atau iritasi.<br>
                        - Beberapa studi menunjukkan bahwa konsumsi teh hijau dapat bermanfaat untuk mengurangi risiko
                        penyakit peradangan kronis, seperti penyakit jantung, diabetes, dan arthritis.<br></p>
                    {% endif %}

                </div>
                <div class="col-lg-5">
                    <h5>Kemiripan Dengan Jenis Daun Lainnya:</h5>
                    <ul class="probabilities">
                        {% for c, p in probabilities %}
                        <li>{{ c }}: {{ '%.2f%%' | format(p * 100) }}</li>
                        {% endfor %}
                    </ul>

                    {% endif %}
                    {% else %}
                    <h3>Tidak ada klasifikasi yang sesuai.</h3>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>





    <div class="site-footer">
        <div class="container">

            <div class="row mt-5">
                <div class="col-12 text-center">
                    <!-- 
              **==========
              NOTE: 
              Please don't remove this copyright link unless you buy the license here https://untree.co/license/  

              **==========
            -->
                    <p class="mb-0">Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash;
                        Designed with love
                        by <a href="https://untree.co">Untree.co</a> Distributed By <a
                            href="https://themewagon.com">ThemeWagon</a>
                        <!-- License information: https://untree.co/license/ -->
                    </p>
                </div>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.site-footer -->

    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <script src="{{ url_for('static',filename='assets_index/js/jquery-3.4.1.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/popper.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/owl.carousel.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/jquery.animateNumber.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/jquery.waypoints.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/jquery.fancybox.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/aos.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/wave-animate.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/circle-progress.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/imagesloaded.pkgd.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/isotope.pkgd.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/jquery.easing.1.3.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/TweenMax.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/ScrollMagic.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/scrollmagic.animation.gsap.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/app.js')}}"></script>

    <script src="{{ url_for('static',filename='assets_index/js/custom.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('barChart').getContext('2d');

            // Dapatkan data dari atribut data
            var probabilities_str = document.getElementById('barChart').getAttribute('data-probabilities');
            var probabilities = JSON.parse(probabilities_str);

            var labels = probabilities.map(function (item) { return item[0]; });
            var data = probabilities.map(function (item) { return item[1]; });

            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Probabilitas ',
                        data: data,
                        backgroundColor: [
                            'rgba(12, 45, 189, 0.7)',
                            'rgba(255, 34, 98, 0.6)',
                            'rgba(43, 87, 156, 0.8)',
                            'rgba(134, 67, 21, 0.9)',
                            'rgba(98, 234, 123, 0.5)',
                            'rgba(76, 23, 187, 0.7)',
                            'rgba(190, 49, 45, 0.6)',
                            'rgba(53, 245, 98, 0.8)',
                            'rgba(98, 67, 234, 0.9)',
                            'rgba(34, 187, 201, 0.5)',
                            'rgba(156, 67, 43, 0.7)',
                            'rgba(21, 156, 67, 0.6)',
                            'rgba(123, 98, 234, 0.8)',
                            'rgba(45, 190, 49, 0.9)',
                            'rgba(98, 53, 245, 0.5)',
                            'rgba(187, 201, 34, 0.7)',
                            'rgba(67, 156, 43, 0.6)',
                            'rgba(234, 21, 156, 0.8)',
                            'rgba(49, 45, 190, 0.9)',
                        ],
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            max: 100
                        }
                    },
                    plugins: {
                        tooltip: {
                            callbacks: {
                                label: function (context) {
                                    var label = context.dataset.label || '';
                                    if (label) {
                                        label += ': ';
                                    }
                                    label += context.parsed.y + '%';
                                    return label;
                                }
                            }
                        }
                    }
                }
            });

            // Tambahkan probabilitas di atas batang
            var barChartData = myChart.config.data.datasets[0].data;
            var barChartLabels = myChart.config.data.labels;

            for (var i = 0; i < barChartData.length; i++) {
                var bar = myChart.getDatasetMeta(0).data[i];
                var xPos = bar._model.x;
                var yPos = bar._model.y - 5; // Sesuaikan posisi teks

                ctx.fillStyle = 'black';
                ctx.font = '12px Arial';
                ctx.fillText(barChartData[i] + '%', xPos, yPos);
            }
        });

    </script>


</body>

</html>