<!-- /*
* Template Name: Minimal
* Template Author: Untree.co
* Author URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="  {{ url_for('static',filename='favicon.png')}}">

  <meta name="description" content="" />
  <meta name="keywords" content="" />


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=PT+Mono&display=swap"
    rel="stylesheet">


  <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/css/owl.carousel.min.css')}}">
  <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/css/owl.theme.default.min.css')}}">
  <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/css/jquery.fancybox.min.css')}}">
  <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/fonts/icomoon/style.css')}}">
  <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/fonts/flaticon/font/flaticon.css')}}">
  <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/css/aos.css')}}">
  <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/css/style.css')}}">

  <title>Aplikasi Identifikasi Morfologi Daun</title>
  <style>
    img {
      width: 150px;
      height: 150px;
    }
  </style>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="100">

  <div class="lines-wrap">
    <div class="lines-inner">
      <div class="lines"></div>
    </div>
  </div>
  <!-- END lines -->

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close">
        <span class="icofont-close js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <nav class="site-nav dark mb-5 site-navbar-target">
    <div class="container">
      <div class="site-navigation">
        <a href="{{ url_for('index') }}" class="logo m-0">Identifikasi Morfologi Daun<span
            class="text-primary">.</span></a>

        <ul class="js-clone-nav d-none d-lg-inline-none site-menu float-right site-nav-wrap">
          <li><a href="{{ url_for('index') }}" class="nav-link active">Home</a></li>
          <li><a href="{{ url_for('profile') }}" class="nav-link">Profile</a></li>
          <li>
            <a href="#about-section" class="nav-link">About</a>
          </li>
          <li><a href="#contact-section" class="nav-link">Contact us</a></li>
          <li><a href="{{ url_for('logout') }}" class="nav-link">Logout</a></li>
        </ul>

        <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-inline-block"
          data-toggle="collapse" data-target="#main-navbar">
          <span></span>
        </a>

      </div>
    </div>
  </nav>



  <div class="untree_co-section pb-0" id="home-section">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-7">
          <h1 class="heading gsap-reveal-hero mb-3"><strong>Selamat Datang di<span class="text-primary"> Aplikasi
                Identifikasi Morfologi</span>
              Daun!</strong></h1>
          <h2 class="subheading gsap-reveal-hero mb-4">
            Web ini membantu Anda mengidentifikasi berbagai jenis daun terutama pada daun antiinflamasi
            berdasarkan ciri-ciri
            fisiknya.<br>Silakan gunakan menu di atas untuk mulai menjelajahi fitur-fitur aplikasi kami.
          </h2>
          <p class="gsap-reveal-hero"><a href="{{ url_for('identifikasi') }}" class="btn btn-outline-black">Coba
              Sekarang! </a></p>
        </div>
      </div>

    </div>
  </div>

  <div class="untree_co-section pb-0" id="services-section">
    <div class="container">
      <div class="row mb-4">
        <div class="col-lg-7 text-center mx-auto">
          <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Galeri Daun</strong></h2>
          <p class="gsap-reveal-hero">Setiap
            daun memiliki gambar dan informasi singkat tentang ciri-ciri fisiknya serta informasi tambahan
            tentang fungsi herba yang mungkin dimilikinya.<br>
          </p>
          <div class="wave gsap-reveal-hero">
            <svg>
              <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
            </svg>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
          <div class="service text-center">
            <div class="gsap-reveal-hero mb-3">
              <span class=""><img src="{{ url_for('static',filename='images/Daun Jintan/Image_8.jpg')}}" alt="Image"
                  class="img-fluid"></span>
            </div>
            <h3 class="gsap-reveal-hero">Daun Jintan</h3>
            <p class="gsap-reveal-hero" style="text-align: justify;">Herba jintan atau jintan putih (Cuminum cyminum)
              adalah tumbuhan yang telah lama
              digunakan dalam berbagai budaya sebagai bahan rempah-rempah dan herba tradisional. Daun jintan, meskipun
              tidak sepopuler bijinya, juga memiliki beberapa fungsi dan manfaat.</p>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
          <div class="service text-center">
            <div class="gsap-reveal-hero mb-3">
              <span class=""><img src="{{ url_for('static',filename='images/Daun Kelor/Image_13.jpg')}}" alt="Image"
                  class="img-fluid"></span>
            </div>
            <h3 class="gsap-reveal-hero">Daun Kelor</h3>
            <p class="gsap-reveal-hero" style="text-align: justify;">Daun kelor (Moringa oleifera) adalah bagian dari
              tanaman kelor yang sering
              digunakan dalam pengobatan tradisional dan herbalisme. Herba ini terutama terdiri dari daun-daun tanaman
              kelor yang memiliki kandungan nutrisi tinggi dan berbagai senyawa aktif yang memiliki potensi manfaat
              kesehatan. Herba daun kelor dapat dikonsumsi dalam berbagai bentuk, termasuk direbus, dikeringkan menjadi
              bubuk, atau diolah menjadi suplemen herbal.</p>
          </div>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
          <div class="service text-center">
            <div class="gsap-reveal-hero mb-3">
              <span class=""><img src="{{ url_for('static',filename='images/Daun Kemangi/Image_7.jpg')}}" alt="Image"
                  class="img-fluid"></span>
            </div>
            <h3 class="gsap-reveal-hero">Daun Kemangi</h3>
            <p class="gsap-reveal-hero" style="text-align: justify;">Daun kemangi (Ocimum basilicum) adalah herba
              aromatik yang sering digunakan
              dalam masakan dan pengobatan tradisional di berbagai budaya di seluruh dunia. Herba ini terutama terdiri
              dari daun-daun tanaman kemangi yang memiliki rasa dan aroma yang khas. Daun kemangi mengandung berbagai
              senyawa aktif, seperti minyak atsiri, flavonoid, asam askorbat (vitamin C), dan berbagai vitamin dan
              mineral, yang memberikan manfaat kesehatan.</p>
          </div>
        </div>


        <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
          <div class="service text-center">
            <div class="gsap-reveal-hero mb-3">
              <span class=""><img src="{{ url_for('static',filename='images/Daun Kunyit/Image_134.jpg')}}" alt="Image"
                  class="img-fluid"></span>
            </div>
            <h3 class="gsap-reveal-hero">Daun Kunyit</h3>
            <p class="gsap-reveal-hero" style="text-align: justify;">Daun kunyit, juga dikenal sebagai daun temu kunyit
              atau daun kunir, adalah
              bagian dari tumbuhan kunyit yang memiliki kandungan senyawa bioaktif yang kaya dan memiliki berbagai
              manfaat kesehatan. Kunyit adalah tanaman yang berasal dari Asia Selatan dan telah lama digunakan dalam
              pengobatan tradisional di berbagai budaya.</p>
          </div>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
          <div class="service text-center">
            <div class="gsap-reveal-hero mb-3">
              <span class=""><img src="{{ url_for('static',filename='images/Daun Asam Jawa/Image_14.jpg')}}" alt="Image"
                  class="img-fluid"></span>
            </div>
            <h3 class="gsap-reveal-hero">Daun Asam Jawa</h3>
            <p class="gsap-reveal-hero" style="text-align: justify;">Daun asam jawa adalah bagian dari tanaman asam
              jawa, yang berasal dari wilayah
              Afrika dan India. Daun ini sering digunakan dalam pengobatan tradisional dan berbagai budaya sebagai herba
              yang memiliki berbagai manfaat kesehatan. Selain daunnya, buahnya yang asam juga digunakan dalam berbagai
              masakan dan minuman.</p>
          </div>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
          <div class="service text-center">
            <div class="gsap-reveal-hero mb-3">
              <span class=""><img src="{{ url_for('static',filename='images/Daun Binahong/Image_18.jpg')}}" alt="Image"
                  class="img-fluid"></span>
            </div>
            <h3 class="gsap-reveal-hero">Daun Binahong</h3>
            <p class="gsap-reveal-hero" style="text-align: justify;">Daun binahong adalah bagian dari tanaman merambat
              yang tumbuh liar dan memiliki
              daun berbentuk jantung. Tanaman ini banyak ditemukan di berbagai wilayah tropis dan subtropis. Daun
              binahong telah lama digunakan dalam pengobatan tradisional di beberapa budaya sebagai herba yang memiliki
              berbagai manfaat kesehatan.</p>
          </div>
        </div>

      </div>
    </div>
  </div>



  <div class="untree_co-section testimonial-wrap">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-7 text-center mx-auto">
          <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Testimonials</strong></h2>
          <p class="gsap-reveal-hero">Ulasan User...</p>

          <div class="wave gsap-reveal-hero">
            <svg>
              <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
            </svg>
          </div>
        </div>
      </div>


      <div data-aos="fade-left" data-aos-delay="200">



        <div class="owl-carousel owl-3-slider">

          {% for a in comment %}
          <div class="item">
            <div class="testimonial-v1">
              <img src="{{ url_for('static',filename='assets/images/left-image.png')}}" alt="Image" class="img-fluid">
              <div class="mb-4">
                <h3>{{a.name}}</h3>
                <span class="caption">{{a.email}}</span>
              </div>
              <blockquote>
                <p>{{a.comment}}</p>
              </blockquote>
            </div>
          </div>
          {% endfor %}
          <!-- END .item -->
        </div>
      </div>
    </div>
  </div>




  <div class="untree_co-section" id="contact-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-7 text-center mx-auto">
          <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Your Suggestion</strong></h2>
          <p class="gsap-reveal-hero">Berikan saranmu untuk pengembangan yang lebih baik!</p>

          <div class="wave gsap-reveal-hero">
            <svg>
              <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
            </svg>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <form action="/index" method="post">
            <div class="row">
              <div class="col-lg-6 form-group">
                <input type="text" class="form-control" name="name" placeholder="Firstname"
                  value="{{ account['name'] }}" readonly>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 form-group">
                <input type="email" class="form-control" name="email" placeholder="Email address"
                  value="{{ account['email'] }}" readonly>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 form-group">
                <textarea name="comment" id="" cols="30" rows="7" class="form-control"
                  placeholder="Write your message..." required></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-12 form-group">
                <input type="submit" class="btn btn-black" value="Send Message">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="site-footer">
    <div class="container">

      <div class="row mt-5">
        <div class="col-12 text-center">
          <!-- 
              **==========
              NOTE: 
              Please don't remove this copyright link unless you buy the license here https://untree.co/license/  

              **==========
            -->
          <p class="mb-0">Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love
            by <a href="https://untree.co">Untree.co</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a>
            <!-- License information: https://untree.co/license/ -->
          </p>
        </div>
      </div>
    </div> <!-- /.container -->
  </div> <!-- /.site-footer -->

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <script src="{{ url_for('static',filename='assets_index/js/jquery-3.4.1.min.js')}}"></script>
  <script src="{{ url_for('static',filename='assets_index/js/popper.min.js')}}"></script>
  <script src="{{ url_for('static',filename='assets_index/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static',filename='assets_index/js/owl.carousel.min.js')}}"></script>
  <script src="{{ url_for('static',filename='assets_index/js/jquery.animateNumber.min.js')}}"></script>
  <script src="{{ url_for('static',filename='assets_index/js/jquery.waypoints.min.js')}}"></script>
  <script src="{{ url_for('static',filename='assets_index/js/jquery.fancybox.min.js')}}"></script>
  <script src="{{ url_for('static',filename='assets_index/js/aos.js')}}"></script>
  <script src="{{ url_for('static',filename='assets_index/js/wave-animate.js')}}"></script>
  <script src="{{ url_for('static',filename='assets_index/js/circle-progress.js')}}"></script>
  <script src="{{ url_for('static',filename='assets_index/js/imagesloaded.pkgd.js')}}"></script>
  <script src="{{ url_for('static',filename='assets_index/js/isotope.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static',filename='assets_index/js/jquery.easing.1.3.js')}}"></script>
  <script src="{{ url_for('static',filename='assets_index/js/TweenMax.min.js')}}"></script>
  <script src="{{ url_for('static',filename='assets_index/js/ScrollMagic.min.js')}}"></script>
  <script src="{{ url_for('static',filename='assets_index/js/scrollmagic.animation.gsap.min.js')}}"></script>


  <script src="{{ url_for('static',filename='assets_index/js/custom.js')}}"></script>

</body>

</html>