<!-- /*
* Template Name: Minimal
* Template Author: Untree.co
* Author URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="  {{ url_for('static',filename='favicon.png')}}">

    <meta name="description" content="" />
    <meta name="keywords" content="" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=PT+Mono&display=swap"
        rel="stylesheet">


    <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/css/jquery.fancybox.min.css')}}">
    <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/fonts/icomoon/style.css')}}">
    <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/fonts/flaticon/font/flaticon.css')}}">
    <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/css/aos.css')}}">
    <link rel="stylesheet" href="  {{ url_for('static',filename='assets_index/css/style.css')}}">

    <title>Aplikasi Identifikasi Morfologi Daun</title>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="100">

    <div class="lines-wrap">
        <div class="lines-inner">
            <div class="lines"></div>
        </div>
    </div>
    <!-- END lines -->

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <nav class="site-nav dark mb-5 site-navbar-target">
        <div class="container">
            <div class="site-navigation">
                <a href="{{ url_for('index') }}" class="logo m-0">Identifikasi Morfologi Daun<span
                        class="text-primary">.</span></a>

                <ul class="js-clone-nav d-none d-lg-inline-none site-menu float-right site-nav-wrap">
                    <li><a href="{{ url_for('index') }}" class="nav-link">Home</a></li>
                    <li><a href="{{ url_for('profile') }}" class="nav-link active">Profile</a></li>
                    <li class="has-children">
                        <a href="#about-section" class="nav-link">About</a>
                    </li>
                    <li><a href="#contact-section" class="nav-link">Contact us</a></li>
                    <li><a href="{{ url_for('logout') }}" class="nav-link">Logout</a></li>
                </ul>

                <a href="#"
                    class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-inline-block"
                    data-toggle="collapse" data-target="#main-navbar">
                    <span></span>
                </a>

            </div>
        </div>
    </nav>



    <div class="untree_co-section pb-0" id="home-section">
        <div class="container">


        </div>
    </div>


    <div class="untree_co-section" id="contact-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-7 text-center mx-auto">
                    <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Profile</strong></h2>

                    <div class="wave gsap-reveal-hero">
                        <svg>
                            <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <form action="/profile" method="post">
                        <div class="row">
                            <div class="col-lg-12 form-group">
                                <label>Name :</label>
                                <input type="text" class="form-control" name="name" value="{{ account['name'] }}"
                                    placeholder="Full Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 form-group">
                                <label>Email :</label>
                                <input type="email" class="form-control" name="email" value="{{ account['email'] }}"
                                    placeholder="Email address">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 form-group">
                                <label>Username :</label>
                                <input type="text" class="form-control" name="username"
                                    value="{{ account['username'] }}" placeholder="Username">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 form-group">
                                <label>Password :</label>
                                <input name="password" type="password" class="form-control" id="password"
                                    placeholder="Password" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 form-group">
                                <input type="submit" class="btn btn-black" value="Edit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="site-footer">
        <div class="container">

            <div class="row mt-5">
                <div class="col-12 text-center">
                    <!-- 
              **==========
              NOTE: 
              Please don't remove this copyright link unless you buy the license here https://untree.co/license/  

              **==========
            -->
                    <p class="mb-0">Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash;
                        Designed with love
                        by <a href="https://untree.co">Untree.co</a> Distributed By <a
                            href="https://themewagon.com">ThemeWagon</a>
                        <!-- License information: https://untree.co/license/ -->
                    </p>
                </div>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.site-footer -->

    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <script src="{{ url_for('static',filename='assets_index/js/jquery-3.4.1.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/popper.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/owl.carousel.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/jquery.animateNumber.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/jquery.waypoints.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/jquery.fancybox.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/aos.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/wave-animate.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/circle-progress.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/imagesloaded.pkgd.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/isotope.pkgd.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/jquery.easing.1.3.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/TweenMax.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/ScrollMagic.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets_index/js/scrollmagic.animation.gsap.min.js')}}"></script>


    <script src="{{ url_for('static',filename='assets_index/js/custom.js')}}"></script>

</body>

</html>