{% extends "base.html" %}
{% block profile %}active{% endblock %}
{% block content %}

<!-- ***** Contact Us Start ***** -->
<!-- ***** Contact Us Start ***** -->
<section class="section colored" id="contact-us">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">User Profile</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
            <!-- ***** Contact Form Start ***** -->

            <div class="col-sm-12">
                <div class="contact-form">
                    <form id="contact" action="/profile" method="post">
                        <div class="card">
                            <div class="card-header">
                                Edit Profile
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Nama</label>
                                            <fieldset>
                                                <input name="name" type="text" class="form-control" id="name"
                                                    placeholder="Full Name" value="{{ account['name'] }}" required="">
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Username</label>
                                            <fieldset>
                                                <input name="username" type="text" class="form-control" id="username"
                                                    placeholder="username" value="{{ account['username'] }}"
                                                    required="">
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email</label>
                                            <fieldset>
                                                <input name="email" type="email" class="form-control" id="email"
                                                    placeholder="E-Mail Address" value="{{ account['email'] }}"
                                                    required="">
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Password</label>
                                            <fieldset>
                                                <input name="password" type="password" class="form-control"
                                                    id="password" placeholder="Password" required="">
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="main-button">Save</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- ***** Contact Form End ***** -->
        </div>
    </div>
</section>
{% endblock %}