{% extends "base.html" %}
{% block home %}active{% endblock %}
{% block content %}



<div class="container mt-5">
    <h2>Pencarian Daun</h2>
    <form action="#" method="POST">
        <div class="form-group">
            <label for="leaf_image">Gambar Daun</label>
            <input type="file" class="form-control-file" id="leaf_image" name="leaf_image">
        </div>
        <button type="submit" class="btn btn-primary">Identifikasi</button>
    </form>
</div>

{% endblock %}